<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('../partials/head') %>
</head>
<body>
    <!--Header design-->
    <header class="header">
        <a href="/" class="logo" style="cursor: pointer;">BLOG PERSONAL</a>
    </header>
    <section class="about" id="about">
        <div class="about-content">
            <h2 class="heading">Santiago Heredia</h2>
            <h2 style="font-size: 2.4rem;
            color: var(--main-color); margin-bottom: 2.5rem;margin-top: 1rem;">Ing. en Sistemas y Computación</h2>
            <p>Estudié la carrera de sistemas y computación en la ciudad de Riobamba, donde actualmente resido. Durante mi carrera universitaria me interesó mucho el desarrollo <span>Full Stack, </span>
                así que empecé por aprender diseño móvil y web con <span>Adobe XD</span> y <span>Photoshop. </span>Después 
                aprendí sobre bases de datos relacionales y no relacioles, lenguajes de programación, hasta que finalmente 
                me decidí por <span>JavaScript. </span>He desarrollado proyectos Full Stack con este lenguaje y utlizando
                <span>MongoDB </span> como base de datos. A futuro espero poder continuar especializandome en desarrollo de software,
                 y ciencia de datos.
            </p>
            <h2 style="font-size: 2.4rem;
            color: var(--main-color); margin-bottom: 1rem;">Skills</h2>
            <h1 style="font-size: 2.1rem;">Lenguajes de programación, Frameworks y librerías</h1>
            <div style="display: flex; justify-content: center; gap: 5rem;">
                <div>
                    <ul>
                        <li style="list-style: none;font-size: 1.8rem;">JavaScript</li>
                        <li style="list-style: none;font-size: 1.8rem;">Java</li>
                        <li style="list-style: none;font-size: 1.8rem;">PHP</li>
                        <li style="list-style: none;font-size: 1.8rem;">Angular</li>
                        <li style="list-style: none;font-size: 1.8rem;">NodeJS</li>
                        <li style="list-style: none;font-size: 1.8rem;">Bootstrap</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="80"> 80% </progress></li>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="70"> 70% </progress></li>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="50"> 50% </progress></li>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="75"> 75% </progress></li>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="80"> 80% </progress></li>
                        <li style="list-style: none;font-size: 1.8rem;"><progress id="file" max="100" value="70"> 70% </progress></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>