<footer class="footer">
    <div class="footer-text">
        <p>Santiago Heredia, 2023</p>
    </div>
    <div class="footer-iconTop">
        <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</footer>