<nav class="navbar">
  <a href="#home" class="active">Inicio</a>
  <a href="#about">Acerca</a>
  <a href="#services">Servicios</a>
  <a href="#portfolio">Proyectos</a>
  <a href="#contact">Contacto</a>
</nav>